# Default ignored files
/shelf/
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# IntelliJ
out/
target/
.idea/
*.iml
#Files created when code is executed
*.class
*.log
